@import "../config";

.root {
  display: flex;
  width: $navigation-width;
  flex-direction: column;
  background-color: $navigation-background;
  border-right: $navigation-border;
}

.header {
  display: flex;
  align-items: center;
  color: $color-text;
  border-bottom: $navigation-border;
  min-height: $navigation-header-height;
  .heading {
    font-size: $navigation-heading-font-size;
    font-weight: $font-weight-semi-bold;
  }
  .logo {
    width: $navigation-logo-size;
    height: $navigation-logo-size;
    margin: $navigation-v-padding ($navigation-h-padding / 2) $navigation-v-padding $navigation-h-padding;
    fill: $color-primary-light;
  }
}

.finder {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 0 !important;
  > input, > i {
    height: $navigation-finder-height;
  }
  > i {
    top: 0;
    left: 0;
    width: auto;
    margin-left: $navigation-h-padding;
  }
  > input {
    padding: 0 0 0 ($navigation-finder-height + ($navigation-h-padding / 2));
    font-size: $font-size-small;
    border-bottom: $navigation-border;
    &:focus {
      background-color: $documentation-background;
    }
  }
  > span {
    display: none;
  }
}

.list {
  flex-grow: 1;
  overflow-y: auto;
}

.item {
  padding: $navigation-v-padding $navigation-h-padding;
  > span > span {
    font-size: $font-size-small;
    font-weight: $font-weight-normal;
  }
}

.active {
  // background: darken($color-accent, 5);
  > span > span {
    font-weight: $font-weight-bold;
  }
}

.footer {
  flex-grow: 0;
  padding: $navigation-h-padding;
  overflow: hidden;
  font-size: $font-size-tiny;
  color: $color-text-secondary;
  border-top: $navigation-border;
  > * {
    display: block;
  }
}
