@import "../../globals";

$documentation-background: #f5f5f5;
$documentation-right-shadow: -2px 0 4px rgba(0,0,0,.14);

$navigation-finder-height: 4.8rem;
$navigation-background: #ffffff;
$navigation-header-height: 8 * $unit;

$navigation-border: solid 1px rgb(224, 224, 224);
$navigation-heading-font-size: 1.8 * $unit;
$navigation-h-padding: 2.4 * $unit;
$navigation-v-padding: 1.2 * $unit;
$navigation-width: 27.2 * $unit;
$navigation-logo-size: 3.2 * $unit;

$playground-width: 50%;
